# Required, remove render api key if you're not using render

SESSION_ID=kord_ai-n4pTjuHZoRBQKPA8
OWNER_NUMBER=2349042419255
WORKTYPE=private
PREFIX=[.!?]
TIMEZONE=Africa/Lagos
OWNER_NAME=YourName
BOT_NAME=Kord
RENDER_API_KEY=your-render-api-key
